section#projects.bs.ts
  .container.centered
    h2 Take a look at some projects that I have worked on
  .row.ts
    ul.portfolio
      li.portfolio-item.circle(ng-repeat="portfolioItem in vm.portfolioItems", class='{{ portfolioItem.classOne }} {{ portfolioItem.classTwo }}')
        .item-image
          img.logo(src='assets/img/clients/{{ portfolioItem.logo }}')
        .item-information
          .item-background
          .item-description
            .item-details
              h4(data-link='{{portfolioItem.url}}') {{ portfolioItem.name }}
              p {{ portfolioItem.description }}
            .item-icons
              .icon-modal(data-toggle='modal', data-target='#myModal')
                span.fa-stack.fa-lg.faa-parent.animated-hover
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-camera.fa-stack-1x
