.weather-animation(ng-show='vm.showAnimation')
  .centered.animation
    include partials/sky
    include partials/clouds
    include partials/light
    include partials/stars
    include partials/precipitation
    include partials/storm
    include partials/grass
    include partials/ground
