#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', ng-controller='ModalController')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4#myModalLabel.modal-title Hello
      .modal-body
        img.modal-image(src='')
      .modal-footer
        span.fake-nav.cl-effect-1
          a.modal-link(href='') http://
//- div(ng-controller='ModalDemoCtrl')
//-   script(type='text/ng-template', id='myModalContent.html').
//-     <div class="modal-header">
//-     <h3 class="modal-title">I'm a modal!</h3>
//-     </div>
//-     <div class="modal-body">
//-     <ul>
//-     <li ng-repeat="item in items">
//-     <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
//-     </li>
//-     </ul>
//-     Selected: <b>{{ selected.item }}</b>
//-     </div>
//-     <div class="modal-footer">
//-     <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
//-     <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
//-     </div>
//-   button.btn.btn-default(type='button', ng-click='open()') Open me!
//-   button.btn.btn-default(type='button', ng-click="open('lg')") Large modal
//-   button.btn.btn-default(type='button', ng-click="open('sm')") Small modal
//-   button.btn.btn-default(type='button', ng-click='toggleAnimation()') Toggle Animation ({{ animationsEnabled }})
//-   div(ng-show='selected') Selection from a modal: {{ selected }}
