cc-navbar
.home-page
  section#weather
    .container.centered.ts.bs
      h3.weather-location
      .row.centered
        cc-weather-animation
      span.weather-current
    .row
      cc-weather-form
      .row.centered
        button#input_go.btn.btn-primary(style='display: none;') Check the weather!
cc-footer(class="other-page-footer")
