cc-navbar
.home-page(cg-busy='vm.weatherPromise')
  section#weather
    .container.centered.ts.bs
      cc-weather-animation
    .row
      cc-weather-form
      .row.centered
        button#input_go.btn.btn-primary(style='display: none;') Check the weather!
cc-footer(class="other-page-footer")
