block content
  .home-page
    cc-navbar
    section#notation
      .container.centered.ts.bs
        h3 Scientific Notation Converter
        .row.centered
          cc-notation-converter
      .row
    cc-footer(class="weather-footer")
