block content
  .home-page
    div
      cc-navbar(creation-date='home.creationDate')
    cc-video-banner
    .row.row-offcanvas.row-offcanvas-right
      include partials/welcome
      include partials/about
      include partials/divider
      cc-portfolio
  cc-footer
 
