block content
  .home-page
    div
      acme-navbar(creation-date='home.creationDate')
    video-banner
    .row.row-offcanvas.row-offcanvas-right
      include partials/welcome
      include partials/about
      include partials/divider
      include ../components/portfolio/portfolio
 
